  <div style="overflow: hidden;">
  <div>
  <img  src="https://sharinbox.societegenerale.com/typo3temp/assets/_processed_/d/6/csm_T1-Aide-a%CC%80-la-connexion_0450f69857_optimized.jpg" alt="ScBank">
  </div>
  <div fxLayoutAlign="center left" fxFlexFill class="main-div" >

    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm" (ngSubmit)="loginProcess()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="userName">
            </mat-form-field>
          
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
              </mat-form-field>
              <button mat-raised-button type="submit">Login</button>
          </form>
          
    </mat-card>
</div>
  </div>
