  <div style="overflow: hidden;">
  <div style="height: 80px">
  <img style="    height: 250px;
  width: 1389px;" src="https://sharinbox.societegenerale.com/typo3temp/assets/_processed_/d/6/csm_T1-Aide-a%CC%80-la-connexion_0450f69857_optimized.jpg" alt="ScBank">
  </div>
  <div>
    <img style=" width: 289px;
    position: absolute;
    top: 273px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Soci%C3%A9t%C3%A9_G%C3%A9n%C3%A9rale.svg/2560px-Soci%C3%A9t%C3%A9_G%C3%A9n%C3%A9rale.svg.png" alt="ScBank">
    
    <mat-card style="margin-left: 900px;margin-right: 20px;margin-bottom: 20px;" >
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm" (ngSubmit)="loginProcess()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="userName">
            </mat-form-field>
          
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
              </mat-form-field>
              <button mat-raised-button type="submit">Login</button>
          </form>
          
    </mat-card>
    <div style="height: 160px">
      <img style="    height: 300px;
      width: 1389px;" src="    https://www.privatebanking.societegenerale.com/typo3temp/assets/_processed_/8/8/csm_shutterstock_325898924_bandeau_0d13f33222_optimized.jpg
" alt="ScBank">
      </div>
</div>
  </div>
